<?php

define('PROJECT_NAME', 'DCase');
define('DB_HOST',     'localhost');
define('DB_USER',     'dcase');
define('DB_PASSWORD', 'dcase');
define('DB_NAME',     'dcaseweb');
define('HOME_URL', 'http://www.ubicg.ynu.ac.jp/ASE/');
error_reporting(E_ALL & ~E_NOTICE);
session_set_cookie_params(0, '/');
define('CONSUMER_KEY',    'xxxxxxxxxxxxxxxxxxxxx');
define('CONSUMER_SECRET', 'xxxxxxxxxxxxxxxxxxxxx');

?>
