.menu-i {
	position: absolute;
	left: 24px;
	top : 0px;
	width : 40px;
	height: 40px;
	background: #CCC;
	opacity: 0.8;
	border-radius: 4px;
	text-align: center;
}

#menu-search input {
	width: 90%;
}

.menu-i:hover {
	background: #EEE;
}

.menu-box {
	position: absolute;
	display: none;
	left: 0px;
	top: 40px;
	width: 192px;
	bottom: 0px;
	background: #EEE;
	padding: 4px;
	overflow: auto;
}

.sidemenu-search-result {
	overflow: scroll;
}

.sidemenu-result {
	list-style-type: none;
	height: 0.8cm;
	position: relative;
}

.sidemenu-result:hover {
	color: #FFA0A0;
}

ul.sidemenu-result li ul {
	margin: 0 0 0 0.3em;
	padding 0;
}
