#edit {
	position: absolute;
	display: none;
	width: 400px;
	height: 300px;
	background: #EEE;
	opacity: 0.9;
	zIndex: 10;
	margin: 8 auto;
	border-style: solid;
}

#edit h1 {
	font-size: 120%;
}

textarea.editor {
	position: absolute;
	left: 0;
	width: 400px;
	height: 300px;
	background: #dbf5f3;
	border-style: none;
	resizable: false;
	z-index: 99;
}
